# General site settings.
base_url = "https://sigil.box"
title = "Sigil"
description = "An Ethereum L2"
default_language = "en"
theme = "serene"
output_dir = "public"
compile_sass = true
minify_html = false
build_search_index = false
generate_feeds = true
feed_filenames = ["feed.xml"]
taxonomies = [{ name = "tags" }, { name = "categories" }]

[markdown]
highlight_code = true
highlight_theme = "css"
extra_syntaxes_and_themes = ["themes/serene/highlight_themes"]
highlight_themes_css = [
  { theme = "serene-light", filename = "hl-light.css" },
  { theme = "serene-dark", filename = "hl-dark.css" },
]
render_emoji = false
external_links_target_blank = false
external_links_no_follow = true
external_links_no_referrer = true
smart_punctuation = false

[slugify]
paths = "on"
taxonomies = "on"
anchors = "on"

[extra]
sections = [
  { name = "about", path = "/about", is_external = false },
  { name = "posts", path = "/posts", is_external = false },
]
blog_section_path = "/posts"
back_link_text = "Back"
force_theme = false
footer_copyright = "VPL-licensed; copyleft (É”) all rights reversed"
footer_credits = false
not_found_error_text = "404"
not_found_recover_text = "bring me home"
reaction = false 
reaction_align = "right"
reaction_endpoint = ""
