<style>

  /* GeistMono font */
  @font-face {
    font-family: 'GeistMono-Regular';
    src: url('https://intdev-global.s3.us-west-2.amazonaws.com/public/internet-dev/996b00fb-4b7a-403d-8da2-ce2225450681.woff2') format('woff2');
  }

  /* light mode colors - Sigil theme */
  body {
    --primary-color: #ed1c24;              /* Gold */
    --primary-pale-color: #ed1c2466;       /* Sigil Red 40% */
    --primary-decoration-color: #ed1c2412; /* Sigil Red 7% */
    --bg-color: #faebd2;                   /* Bone White */
    --text-color: #24201e;                 /* Madness Black */
    --text-pale-color: #24201e99;          /* Madness Black 60% */
    --text-decoration-color: #504841;      /* Gray 60 */
    --highlight-mark-color: #ed1c2433;     /* Sigil Red 20% */

    --callout-note-color: #fbb040;         /* Gold */
    --callout-tip-color: #fbb040;          /* Gold */
    --callout-important-color: #fbb040;    /* Gold */
    --callout-warning-color: #fbb040;      /* Gold */
    --callout-caution-color: #ed1c24;      /* Sigil Red */
  }

  /* dark mode colors - Sigil theme */
  body.dark {
    --primary-color: #fbb040;              /* Gold */
    --primary-pale-color: #fbb04066;       /* Sigil Red 40% */
    --primary-decoration-color: #fbb04012; /* Sigil Red 7% */
    --bg-color: #24201e;                   /* Madness Black */
    --text-color: #faebd2;                 /* Bone White */
    --text-pale-color: #faebd299;          /* Bone White 60% */
    --text-decoration-color: #3c3630;      /* Gray 70 */
    --highlight-mark-color: #ed1c2433;     /* Sigil Red 20% */

    --callout-note-color: #fbb040;         /* Gold */
    --callout-tip-color: #fbb040;          /* Gold */
    --callout-important-color: #fbb040;    /* Gold */
    --callout-warning-color: #fbb040;      /* Gold */
    --callout-caution-color: #ed1c24;      /* Sigil Red */
  }

  /* theme-aware avatar */
  .avatar-light { display: inline; }
  .avatar-dark { display: none; }
  body.dark .avatar-light { display: none; }
  body.dark .avatar-dark { display: inline; }

  /* home page layout-list spacing */
  body.homepage .layout-list {
    padding-top: 1.5em;
  }

  /* typography */
  body {
    --main-font: 'GeistMono-Regular', Consolas, monaco, monospace;
    --code-font: 'GeistMono-Regular', Consolas, monaco, monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --font-size: 18px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
